{% extends 'base.html' %}
{% block title %} Яд, мудрецом предложенный, прими... {% endblock %}
{% block content %}
<div class="container pt-5 my-5 border">
<h3 align="center">"Яд, мудрецом предложенный, прими..."</h3>
<p>Этот сайт способен выдать вам в ответ на слово, фразу или вопрос стихотворение персидского (или
персидско-таджикского) поэта. Не судите его строго: он маленький и пока что развивается.</p>
<p>Ваш запрос делится на отдельные словоформы и обрабатывается при помощи морфологического анализатора. Затем
каждое слово из запроса обрабатывается при помощи модели Word2vec, векторы усредняются и сравниваются с усреднёнными
векторами стихов из базы данных. Вам выдаётся ближайший по векторной близости стих. Если он вам понравится, вы можете
поставить ему метку "Нравится!" :)</p>
<p> Ответы персидского мудреца, полученные таким способом, могут быть загадочны: но на то он и мудрец!</p>
<p>На вкладке "статистика" вы можете посмотреть, сколько людей
    было на сайте до вас и какие стихи являются сейчас любимыми по меркам пользователей. Также
вы можете там увидеть визуализацию статистики стихов, присутствующих сейчас в нашей базе: график количества стихов по темам
    и  облако слов стихов из базы.</p>
</div>
<div class="container-fluid my-5 text-info">
    <b>На данный момент в базе присутствуют стихи Омара Хайяма (Гия́с-ад-Ди́н Абу-ль-Фатх Ома́р ибн Ибрахи́м Хайя́м Нишапури́).
    База открыта к расширению.</b>
</div>
<form action="/process" method = 'GET' target="_blank">
    <fieldset>
        <input type="text" class="form-control mt-3" placeholder="Что есть человек?" name="userask"><br>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Отправить ответы">
    </fieldset>
</form>
{% endblock %}